.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.pill {
  font-size: var(--font-size-xs);
  background-color: var(--color-bg-elevated-2);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: var(--space-1) var(--space-4);
  color: var(--color-text);
}

.pill:hover {
  border-color: var(--color-accent);
  text-decoration: none;
}
